<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LoginMapper">
    <insert id="addUser" parameterType="com.pojo.User">
        insert into tb_user (account_id, username, password) values (#{accountId}, #{username}, #{password});
    </insert>

    <insert id="addUserInfo" parameterType="com.pojo.LoginInfo">
        insert into tb_user_info (account_id, author, id_card, phone_number, sign_time) values (#{accountId}, #{author}, #{idCard}, #{phoneNumber}, #{date});
    </insert>

    <select id="findUser" parameterType="String" resultType="com.pojo.User">
        select * from tb_user where username=#{username};
    </select>

    <select id="findLoginInfo" parameterType="String" resultType="com.pojo.LoginInfo">
        select * from tb_user_info where account_id=#{accountId};
    </select>
<!--    <select id="queryAll" resultType="Dept">-->
<!--        select * from dept;-->
<!--    </select>-->
</mapper>